*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container  {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo  {
    height: 800px;
    background: url('../img/main.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;

}

.logo .logo_img   {
    display: block;
    margin: 0 auto;
}
.logo .logo_text    {
    color: #FFFF;
    font-family: Roboto;
    font-size: 15;
    font-weight: 500px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1{
    margin-top: 50px;
}
.title  {
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big  {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFF;
    font-family: "Roboto";
    font-size: 80px;
    font-weight: 41;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
}

.promo .promo_text{
    padding: 0 15px;
    text-align: center;
    margin-top: 23px;
    color: #FFFF;
    font-family: ROBOTO;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    
}

.promo .promo_text span {
    margin-top: 20px;
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 700; 
}
.promo .promo_btn   {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #2798b8 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #FFFF;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more   {
    margin-top: 73px;

}

.more .more_text    {
   
    margin-top: 14px;
    color: #FFFF;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting    {
    min-height: 604px;
    background-color:   #EFEFEF;
    
}
.waiting_header {
    margin-top: 88px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_header_2    {
    margin-top: 18px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 23px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    
}
.waiting .waiting_diveder   {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_wrapper   {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
    
}

.waiting .waiting_wrapper .waiting_item .waiting_img    {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr  {
    margin-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;


}

.optimization   {
    
    min-height: 547px;
    padding: 102px 0 74px 0 ; 

}

.optimization .optimization_header    {
    margin-left: 371px;
    font-family: 'Roboto';
    /* font-style: normal;
    font-weight: 900; */
    font-size: 30px;
    /* line-height: 30px; */
    text-transform: uppercase;
    color: #299CBD;
    
}

.optimization .optimization_text  {
    margin-top: 15px;
    margin-left: 371px;
    font-family: 'Roboto';
    /* font-style: normal;
    font-weight: 300; */
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}
.optimization .optimization_text span   {
    font-family: Roboto-Bold;
    font-weight: 700;

}

.optimization .optimization_img {
    position: absolute;
    top: 48px;
    left: -240px;
    z-index: -1;
}

.learn_end  {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url(../img/second_bg.png) center center/cover no-repeat;
    
}

.learn_end .learn_end_header    {
    margin-top: 86px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EFEFEF;
}

.learn_end .learn_end_diveder   {
    margin: 0 auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    left: 851px;
    top: 130px;
    background: #F9BF3B;
}

.learn_end .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.learn_end .finish_wrapper .finish_item {
    width: 204px;
}

.learn_end .finish_wrapper .finish_item .finish_round   {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.learn_end .finish_wrapper .finish_item .finish_descr    {
    margin-top: 24px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    color: #EFEFEF;
}

.gift   {
    min-height: 627px;
    padding: 90px 0 88px 0px;
    background: #EFEFEF;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_text    {
    margin-top: 43px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.gift .gift_button  {
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 471px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.first  {
    padding: 82px 0 82px 0;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.0001);
}

.first .first_img   {
    display: block;
    margin: 0 auto;
}

.first .first_text_1  {
    margin-top: 36px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.first .first_text_2  {
    margin-top: 30px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}

.first .first_text_3  {
    margin-top: 25px;
    font-family: 'Roboto';;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

.futer {
    min-height: 167px;
    padding: 57px 0 69px 0;
    background: #1A1A1A;
}
.futer .futer_wrapper   {
    display: flex;
    justify-content: center;
}
.futer .futer_text_1 a {
    border-right: 2px #FFF solid;
    padding-right: 5px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
}

.futer .futer_text_2 a  {
    padding-left: 5px;  ;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
}

.futer .futer_text_3    {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}